

.testimg{
    background-image: url(../img/pc_background.jpg) ;
    background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 
 h1 {
  text-align: center;
  color: white;
 }