
/*ici se trouvera tous le CSS des différentes pages que comporte le portfolio.*/

#menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

#texte_bienvenue{
    border-top: solid 0.3rem black;
    border-bottom: solid 0.3rem black;
    background-color: grey;
    color: white;
}